table tbody tr.activeRow {
    background-color: #d1e7dd !important;
    border: 2px solid darkgreen;

}

.frontMatterTable {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #d0d0d0;
}
.frontMatterTable th {
    padding: 8px;
    white-space: nowrap;
    border: none;
    text-align: right;
}
.frontMatterTable td {
    text-align: left;
}

.jobPostHtml {
    padding: 20px 30px 80px;
    font-size: 1.2em;
}

.jobPostHtml h1 {
    font-size: 1.5em;
}

.jobPostHtml h2 {
    font-size: 1.2em;
}

.jobPostHtml h3 {
    font-size: 1em;
}

.jobPostHtml p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.jobPostHtml ul {
    padding-top: 5px;
}

.jobPostHtml li {
    list-style-type: disc;
    margin-left: 20px;
}

.aLink {
    text-decoration: none;
    color: #001d9e;
}

.tableAutoFit {
    width: 100%;
    table-layout: auto;
    border: none;
}
.tableAutoFit th {
    text-align: right;
}
.tableAutoFit th,
.tableAutoFit td {
    white-space: nowrap;
}

.tableAutoFit td:last-child {
    width: 100%;
    white-space: normal;
}

.shortcutContainer {
    display: flex;
    gap: 16px;
    padding: 10px;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.twoColumnLayout {
    display: flex;
    gap: 20px;
}

.leftColumn,
.rightColumn {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.leftColumn {
    flex: 2;
}

.rightColumn {
    flex: 1;
}

.rightColumn ul {
    list-style: none;
    padding: 0;
}

.rightColumn ul li {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid #ececec;
    padding-bottom: 8px;
}

.highlight-green {
    background-color: #e7f6e7;
    color: #228b22;
    border-radius: 4px;
    padding: 0 4px;
}