.container {
    background: #fff;
    border-right: 1px solid var(--nav-border-color);
    display: inline-block;
    height: calc(100vh - var(--top-nav-height));
    margin: 0;
    padding: 0;
    position: fixed;
    transition: width 0.2s ease;
    width: 15.875rem;
    z-index: 1020;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}