.frontMatterTable {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #d0d0d0;
}
.frontMatterTable th {
    padding: 8px;
    white-space: nowrap;
    border: none;
    text-align:right;
}
.frontMatterTable td {
    text-align:left;
}

.jobPostHtml {
    padding: 20px 30px 80px;
    font-size: 1.2em;
}

.jobPostHtml h1 {
    font-size: 1.5em;
}

.jobPostHtml h2 {
    font-size: 1.2em;
}

.jobPostHtml h3 {
    font-size: 1em;
}

.jobPostHtml p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.jobPostHtml ul {
    padding-top: 5px;
}

.jobPostHtml li {
    list-style-type: disc;
    margin-left: 20px;
}

.aLink {
    text-decoration: none;
    color: #001d9e;
}

.applyButton {
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.deleteButton {
    background-color: #dc3545;
    color: white;
    border-radius: 4px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
}

.applyButton:hover {
    background-color: #218838;
}

.deleteButton:hover {
    background-color: #c82333;
}

.tableAutoFit {
    width: 100%;
    table-layout: auto;
    border: none;
}
.tableAutoFit th {
    text-align: right;
}
.tableAutoFit th,
.tableAutoFit td {
    white-space: nowrap;
}

.tableAutoFit td:last-child {
    width: 100%; /* Last column expands to fill remaining space */
    white-space: normal; /* Allow wrapping if content is lengthy */
}
.shortcutContainer {
    display: flex;
    gap: 16px;
    padding: 10px;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.shortcut {
    color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap; /* Prevent the shortcuts from wrapping onto multiple lines */
}

.shortcut kbd {
    padding: 3px 8px;
    background-color: #ececec;
    border-radius: 4px;
    border: 1px solid #d2d2d2;
    box-shadow: 0 2px #d2d2d2;
    font-family: 'Courier New', monospace;
    color: #555;
    font-size: 0.9rem;
}