@charset "UTF-8";

:root,
:root {
    --nav-border-color: #cbd0dd;
    --top-nav-height:1.7rem;
}

[data-bs-theme=light] {

}

[data-bs-theme=dark] {
    color-scheme: dark;
}

.dropdown-caret-none:after {
    display: none;
}

.cm-scroller {
    overflow: auto;
    min-height: 888px
}

.ͼ1 .cm-content {
    padding: 5px;
    flex-shrink:1;
    white-space: normal;
    word-wrap: normal;
}