// Variables
@import 'variables';

@import "~vuetify/dist/vuetify.min.css";
@import "~@mdi/font/css/materialdesignicons.min.css";
@import "~material-design-icons-iconfont/dist/material-design-icons.css";

[v-cloak] > * { display:none; }
[v-cloak]::before { content: "loading..."; }


.ProseMirror {
    outline: none;
    padding: 10px;
}
.ProseMirror-focused {
    outline: none;
}
:focus {
    outline: none;
}
.ProseMirror:focus {
    outline: none;
    padding: 10px;
}
