.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    border: 1px solid rgba(203, 208, 221, 0.54);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #141824;
}


.cardHeader {
    font-size: 1.2em;
    font-weight: bolder;
    color: #2b3b4e;
    border-bottom: 1px solid rgba(203, 208, 221, 0.54);
    padding: 5px;
}
.cardBody {
    padding: 16px;
}

.cardText {
    font-size: 1em;
}