.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #cbd0dd;
    background-color: var(--nav-background-color);
    color: var(--nav-color);
}

.footerColumns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.column {
    flex: 1;
    text-align: center;
}

.column.left {
    text-align: left;
}

.column.center {
    text-align: center;
}

.column.right {
    text-align: right;
}