.container {
    display: grid;
    grid-template-columns: 25% 75%;
}

.leftCol {
    height: 100vh;
    border-right: 1px solid #d0d0d0;
}

.rightCol {
    overflow: hidden;
    border-bottom: 1px solid #d0d0d0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; /* Allow it to grow based on content */
}

.fileItem {
    cursor: pointer;
}

.fileItem:hover {
    background-color: #e6e6e6;
}
