
.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.navJobs {
    height: 100vh;
    border-right: 1px solid #d0d0d0;
}

.navJob {
    overflow: hidden;
    border-bottom: 1px solid #d0d0d0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
}

.navActive {
    font-weight: bold;
    background-color: #0deafd0f;
}

.jobDetails {
    background-color: #0deafd0f;
    overflow: auto;
    height: 100vh;
    padding: 5px;
}